<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-11
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS Home page -->
    <link rel="stylesheet" href="styles/home.css">
    <title>Workout Tracker</title>
</head>
<body>
<!-- Navbar from /views/header.html -->
<include href="/views/navbar.html"></include>
<main>

    <!--    <div id="day-plans" class="d-flex flex-column flex-sm-row justify-content-around align-items-sm-start mt-5">-->
    <div id="day-plans" class="mt-5">

        <div id="today">
            <div class="card">
                <div class="card-header">
                    <h2>Today</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Curls</li>
                    <li class="list-group-item">Bench press</li>
                    <li class="list-group-item">Running</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="Today">➕</a>
                </div>
            </div>
        </div>

        <div id="yesterday">
            <div class="card">
                <div class="card-header">
                    <h2>Yesterday</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Squats</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="Yesterday">➕</a>
                </div>
            </div>
        </div>

        <div id="two-days">
            <div class="card">
                <div class="card-header">
                    <h2>2 Days Ago</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Military press</li>
                    <li class="list-group-item">Rowing</li>
                    <li class="list-group-item">Sit ups</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="2 Days Ago">➕</a>
                </div>
            </div>
        </div>

        <div id="three-days">
            <div class="card">
                <div class="card-header">
                    <h2>3 Days Ago</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Jogging</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="3 Days Ago">➕</a>
                </div>
            </div>
        </div>

        <div id="four-days">
            <div class="card">
                <div class="card-header">
                    <h2>4 Days Ago</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Push ups</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="4 Days Ago">➕</a>
                </div>
            </div>
        </div>

        <div id="five-days">
            <div class="card">
                <div class="card-header">
                    <h2>5 Days Ago</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lunges</li>
                    <li class="list-group-item">Squats</li>
                    <li class="list-group-item">Cleans</li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="Saturday">➕</a>
                </div>
            </div>
        </div>

        <div id="six-days">
            <div class="card">
                <div class="card-header">
                    <h2>6 Days Ago</h2>
                </div>
                <ul class="list-group list-group-flush">

                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal" data-target="#add-workout"
                       data-day="6 Days Ago">➕</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Workout Modal -->
    <div class="modal fade" id="add-workout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add a Workout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-outline-primary">Arms</button>
                        <button class="btn btn-outline-primary">Legs</button>
                        <button class="btn btn-outline-primary">Core</button>
                    </div>
                    <hr>
                    <div id="workout-options">
                        <repeat group="{{ @workouts }}" value="{{ @currWorkout }}">
                            <button class="btn btn-secondary btn-sm" data-muscle-groups="{{ @workoutMuscleGroups }}">
                                {{ @currWorkout['workout_name'] }}
                            </button>
                        </repeat>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- JS include footer -->
<include href="/views/footer.html"></include>
