<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-11
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS Home page -->
    <link rel="stylesheet" href="styles/home.css">
    <title>Workout Tracker</title>
</head>
<body>
<!-- Navbar from /views/header.html -->
<include href="/views/navbar.html"></include>
<main>
    <div id="day-plans" class="mt-5">

        <repeat group="{{ @daysOfWeek }}" value="{{ @currDayOfWeek }}" counter="{{ @ctr }}">

            <div id="day-{{ @ctr - 1 }}">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ @currDayOfWeek }}</h2>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Workout</th>
                            <th>Weight</th>
                            <th>Reps</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="card-body text-center">
                        <a href="#" class="btn btn-primary rounded-circle" data-toggle="modal"
                           data-target="#workout-modal"
                           data-day="{{ @currDayOfWeek }}"
                           data-day-num="{{ @ctr - 1 }}">
                            ➕
                        </a>
                    </div>
                </div>
            </div>

        </repeat>
    </div>

    <!-- Add Workout Modal -->
    <div class="modal fade" id="workout-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 id="workout-modal-title">Add a Workout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="d-flex justify-content-around">

                        <button id="all-muscle-groups" class="muscle-group btn btn-primary">All</button>

                        <repeat group="{{ @muscleGroups }}" value="{{ @currMuscleGroup }}">
                            <button class="muscle-group btn btn-outline-primary">
                                {{ @currMuscleGroup['muscle_group_name'] }}
                            </button>
                        </repeat>

                    </div>
                    <hr>
                    <div id="workout-options">

                        <repeat group="{{ @workouts }}" value="{{ @currWorkout }}">
                            <button class="workout btn btn-secondary btn-sm"
                                    data-muscle-groups='{{ @workoutMuscleGroups[@currWorkout["workout_id"]] }}'>
                                {{ @currWorkout['workout_name'] }}
                            </button>
                        </repeat>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-workouts" type="button" class="btn btn-primary" data-dismiss="modal"
                            data-toggle="modal"
                            data-target="#weight-reps-modal">
                        Next
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Weights and Reps Modal -->
    <div class="modal fade" id="weight-reps-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 id="weights-reps-modal-title">Choose Weight and Repetitions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="weights-reps-modal-body" class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Workout</th>
                                <th>Weight</th>
                                <th>Repetitions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button id="add-weights-reps" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</main>



<!-- JS include footer -->
<include href="/views/footer.html"></include>
