<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-03
 * File Name: login.html
 * File Associations:
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/login_register_styles.css">
    <title>Workout Tracker Login</title>
</head>
<body class="pl-5 pt-5 pb-5 pr-4">
    <!-- body content -->
    <div id="body-div" class="container row">
        <div class="spacers col-3"></div>

        <div id="form-div" class="col-sm-12 col-md-6">
            <!-- Formatted Username input field -->
            <form id="formatted-login" method="post" action="#">
                <!-- username -->
                <div class="form-group row">
                    <label for="user-name" class="col-3">Username</label>
                    <div class="col-9">
                        <input id="user-name" name="user-name" type="text" class="form-control" value="{{ @stickyUserName }}">
                    </div>
                </div>
                <!-- password first -->
                <div class="form-group row">
                    <label for="password" class="col-3">Password</label>
                    <div class="col-9">
                        <input id="password" name="password" type="password" class="form-control" value="{{ @stickyPassword }}">
                        <check if="{{ isset(@errors['password-login']) }}">
                            <p>{{ @errors['password-login'] }}</p>
                        </check>
                    </div>
                </div>
                <!-- show password -->
                <input id="show-password" type="checkbox" onclick="loginPasswordToggle()">
                <label for="show-password">Show Password</label>
                <br>
                <!-- go to register for non-users -->
                <hr>
                <p class="reg-log-links text-center">Not a registered user? Go to <a href="{{ @BASE }}/register">Register here!</a></p>
                <hr>
                <!-- submit button -->
                <input id="login-btn" class="btn-dark" type="submit" value="Login">
            </form>
        </div>

        <div class="spacers col-3"></div>
    </div>

    <!-- JS include footer -->
    <include href="/views/footer.html"></include>
