<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-03
 * File Name: login.html
 * File Associations:
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/login_register_styles.css">
    <title>Workout Tracker Login</title>
</head>
<body>
    <h1>LOGIN</h1>

    <!-- body content -->
    <div id="body-div" class="container row">
        <div class="col-3"></div>
        <div id="form-div" class="col-4">

            <!-- Formatted Username input field -->
            <form id="formatted-login" method="post" action="#">
                <!-- username -->
                <div class="form-group">
                    <check if="{{ isset(@errors['user-name']) }}">
                        <p>{{ @errors['user-name'] }}</p>
                    </check>
                    <label for="user-name">Username</label>
                    <input id="user-name" name="user-name" type="text" class="form-control" placeholder="User name" value="{{ @stickyUserName }}">
                </div>
                <!-- password first -->
                <div class="form-group">
                    <check if="{{ isset(@errors['password']) }}">
                        <p>{{ @errors['password'] }}</p>
                    </check>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="text" class="form-control" placeholder="Password" value="{{ @stickyPassword }}">
                </div>

                <!-- submit button -->
                <input id="login-btn" class="btn-dark" type="submit" value="Login">
            </form>
        </div>
    </div>

    <!-- JS include footer -->
    <include href="/views/footer.html"></include>
