<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-11
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/login_register_styles.css">
    <title>Workout Tracker Register</title>
</head>
<body>
    <h1>Registration</h1>

    <!-- body content -->
    <div id="body-div" class="container row">
        <div class="col-3"></div>
        <div id="form-div" class="col-4">

            <!-- Formatted Username input field -->
            <form id="formatted-login" method="post" action="#">
                <!-- first name -->
                <div class="form-group">
                    <check if="{{ isset(@errors['first-name']) }}">
                        <p>{{ @errors['first-name'] }}</p>
                    </check>
                    <label for="first-name">First Name</label>
                    <input id="first-name" name="first-name" type="text" class="form-control" placeholder="First name" value="{{ @stickyFirstName }}">
                </div>
                <!-- last name -->
                <div class="form-group">
                    <check if="{{ isset(@errors['last-name']) }}">
                        <p>{{ @errors['last-name'] }}</p>
                    </check>
                    <label for="last-name">Last Name</label>
                    <input id="last-name" name="last-name" type="text" class="form-control" placeholder="Last name" value="{{ @stickyLastName }}">
                </div>
                <!-- username -->
                <div class="form-group">
                    <check if="{{ isset(@errors['user-name']) }}">
                        <p>{{ @errors['user-name'] }}</p>
                    </check>
                    <label for="user-name">Username</label>
                    <input id="user-name" name="user-name" type="text" class="form-control" placeholder="User name" value="{{ @stickyUserName }}">
                </div>
                <!-- password first -->
                <div class="form-group">
                    <check if="{{ isset(@errors['password']) }}">
                        <p>{{ @errors['password'] }}</p>
                    </check>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="text" class="form-control" placeholder="Password" value="{{ @sticky }}">
                </div>
                <!-- password confirmation -->
                <div class="form-group">
                    <check if="{{ isset(@errors['password-confirmation']) }}">
                        <p>{{ @errors['password-confirmation'] }}</p>
                    </check>
                    <label for="password-confirmation">Password Confirmation</label>
                    <input id="password-confirmation" name="password-confirmation" type="text" class="form-control" placeholder="Password confirmation" value="{{ @sticky }}">
                </div>
                <!-- is pro -->
                <div class="form-group">
                    <input id="is-pro" name="is-pro" type="checkbox" value="pro">
                    <label for="is-pro">Upgrade to Premium Membership!</label>
                </div>

                <!-- submit button -->
                <input id="login-btn" class="btn-dark" type="submit" value="Register">
            </form>
        </div>
    </div>

    <!-- JS include footer -->
    <include href="/views/footer.html"></include>
