<!--
/**
 * Registration page for Workout Tracker website. New users register here with a unique username, and are then routed
 * to the home page.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-15
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS register styles -->
    <link rel="stylesheet" href="styles/login_register_styles.css">
    <title>Workout Tracker Register</title>
</head>
<body class="pl-5 pt-5 pb-5 pr-4">
    <!-- body content -->
    <div id="body-div" class="container row">
        <div class="spacers col-3"></div>

        <div id="form-div" class="col-sm-12 col-md-6">
            <!-- Form -->
            <form id="formatted-register" method="post" action="#">
                <!-- first name -->
                <div class="form-group row">
                    <label for="first-name" class="col-4">First Name</label>
                    <div class="col-8">
                    <input id="first-name" name="first-name" type="text" class="form-control" value="{{ @stickyFirstName }}">
                    <check if="{{ isset(@errors['first-name']) }}">
                        <p>{{ @errors['first-name'] }}</p>
                    </check>
                    </div>
                </div>
                <!-- last name -->
                <div class="form-group row">
                    <label for="last-name" class="col-4">Last Name</label>
                    <div class="col-8">
                    <input id="last-name" name="last-name" type="text" class="form-control" value="{{ @stickyLastName }}">
                    <check if="{{ isset(@errors['last-name']) }}">
                        <p>{{ @errors['last-name'] }}</p>
                    </check>
                    </div>
                </div>
                <!-- username -->
                <div class="form-group row">
                    <label for="user-name" class="col-4">Username</label>
                    <div class="col-8">
                    <input id="user-name" name="user-name" type="text" class="form-control" value="{{ @stickyUserName }}">
                    <check if="{{ isset(@errors['user-name']) }}">
                        <p>{{ @errors['user-name'] }}</p>
                    </check>
                    </div>
                </div>
                <!-- password first -->
                <div class="form-group row">
                    <label for="password" class="col-4">Password</label>
                    <div class="col-8">
                    <input id="password" name="password" type="password" class="form-control" value="{{ @stickyPassword }}">
                    <check if="{{ isset(@errors['password']) }}">
                        <p>{{ @errors['password'] }}</p>
                    </check>
                    </div>
                </div>
                <!-- password confirmation -->
                <div class="form-group row">
                    <label for="password-confirmation" class="col-4">Password Confirmation</label>
                    <div class="col-8">
                    <input id="password-confirmation" name="password-confirmation" type="password" class="form-control" value="{{ @stickyPasswordConfirmation }}">
                    <check if="{{ isset(@errors['password-confirmation']) }}">
                        <p>{{ @errors['password-confirmation'] }}</p>
                    </check>
                    </div>
                </div>
                <!-- show password -->
                <input id="show-password" type="checkbox" onclick="passwordToggle()">
                <label for="show-password">Show Password</label>
                <!-- is pro -->
                <div class="form-group">
                    <input id="is-pro" name="is-pro" type="checkbox" value="pro">
                    <label for="is-pro">Upgrade to Premium Membership!</label>
                </div>
                <!-- go to login for registered users -->
                <hr>
                <p class="reg-log-links text-center">Already a registered user? Go to <a href="{{ @BASE }}/login">Login here!</a></p>
                <hr>
                <!-- submit button -->
                <input id="register-btn" class="btn-dark" type="submit" value="Register" onclick="validateJS()">
            </form>
        </div>

        <div class="spacers col-3"></div>
    </div>

    <!-- JS include footer -->
    <include href="/views/footer.html"></include>
