<!--
/**
 * TODO: update description and file associations
 * Splash page for home screen.
 *
 * @author Bridget Black
 * @author Chad Drennan
 * @version 1.0
 * 2020-02-17
 * Last Updated: 2020-03-11
 */
-->

<!-- CSS include header -->
<include href="/views/header.html"></include>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/login_register_styles.css">
    <title>Workout Tracker Register</title>
</head>
<body>
    <h1>Registration</h1>

    <!-- body content -->
    <div id="body-div" class="container row">
        <div class="col-3"></div>
        <div id="form-div" class="col-4">

            <!-- Formatted Username input field -->
            <form id="formatted-login" class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>

            <!-- appending -->
            <div class="form-group">
                <label class="control-label" for="email">
                    Email
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        @
                    </div>
                    <input class="form-control" id="email" name="email" type="text"/>
                </div>
            </div>

            <!-- glyphicon -->
            <div class="form-group ">
                <label class="control-label " for="email">
                    Email
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input class="form-control" id="emailGlyph" name="email" type="text"/>
                </div>
            </div>

            <!-- example add on -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">@example.com</span>
            </div>

            <!-- Non-formatted Username input field -->
            <form id="login-form">
                <div class="form-group">
                    <label for="user_name">User Name:</label>
                    <input id="user_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" class="form-control">
                </div>
                <button id="login-btn" class="btn-dark" type="submit" action="post">Login</button>
            </form>
        </div>
    </div>

    <!-- JS include footer -->
    <include href="/views/footer.html"></include>
