* {
    box-sizing: border-box;
}

a.rounded-circle {
    font-size: 20px;
    width: 52px;
    padding: 10px;
}

.card {
    min-width: 193px;
}

.card > .list-group {
    padding: 0 8px;
}

.card-header {
    text-align: center;
    padding: 12px;
}

#day-plans {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    grid-template-areas: '. . today today . .'
                         'yesterday two-days three-days four-days five-days six-days';
}

#five-days {
    grid-area: five-days;
}

#four-days {
    grid-area: four-days;
}

#six-days {
    grid-area: six-days;
}

#three-days {
    grid-area: three-days;
}

#today {
    grid-area: today;
}

#two-days {
    grid-area: two-days;
}

#workout-options {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

#yesterday {
    grid-area: yesterday;
}

/* Small devices (landscape phones, 576px)*/
@media (max-width: 576px) {
    body > main > #day-plans {
        grid-template-columns: auto;
        grid-template-areas: 'day-0' 'day-1' 'two-days' 'three-days' 'four-days' 'five-days' 'six-days';
    }
}

/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
    main > #day-plans {
        grid-template-columns: auto auto;
        grid-template-areas: 'today today' 'yesterday two-days' 'three-days four-days' 'five-days six-days';
    }
}

/* Large devices (desktops, 992px) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px) */
@media (max-width: 1200px) {
    #day-plans {
        grid-template-columns: auto auto auto;
        grid-template-areas: '. today .'
                             'yesterday two-days three-days'
                             'four-days five-days six-days';
    }
}