/**
 * Description:
 *     CSS for login and for sign-up forms.
 * Last Updated: 2020-03-14
 */

body {
    background-image: url("../images/freeWeights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: black;
}

p {
    color: darkred;
    font-size: small;
    text-transform: capitalize;
}

#body-div {
    margin-top: 5%;
    padding: 15px;
}

#form-div {
    background-color: white;
    border: 1px solid black;
}

#formatted-login, #login-form {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("../images/freeWeights2.jpg");
    }
}
